.footer-sub-menu {

}

.footer-menu__item {
    font-size: $font-size-base + 2px;
    display: inline-block;
    width: 202px;
    padding-right: 12px;
    vertical-align: top;
    line-height: 2.0;
    font-weight: 600;
    padding-bottom: 32px;
}

.footer-menu__item:last-child {
    padding-right: 0px;
}

.footer-sub-menu {
    margin-top: 12px;
}

.footer-sub-menu__item {
    font-size: $font-size-base - 1px;
    line-height: 1.54;
    margin-bottom: 16px;
    width: 162px;
    font-weight: normal;
}

.footer-sub-menu__logotypes {

    display: flex;
}

.footer-sub-menu__logotypes img {
    padding-right: 16px;
}


.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.footer-menu a {
    color:#152935;
}
.footer__logo {
    padding: 28px 0px 60px 0px;


}

.footer-sub-menu__item--small {
    font-size: $font-size-base - 3px;
    line-height: 1.82;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;

}
