.bg {
    background-image: url(../img/homepage.png);
    background-size: cover;
    background-position: center;
}

.header {
    width: 100%;
    padding-bottom: 60px;
    padding-top: 20px;
}

.wrap-header {
    max-width: $wrap-width;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.logo {
    display: inline-flex;
}

.header > a {
    color: $white;
    text-decoration: none;
}

.nav__item {
    padding-left: 40px;
    color:$white;
}

.nav__item:hover {
    transition: 0.1s ease;
    padding-bottom: 5px;
    border-bottom: 2px solid $white;
}

.left-menu {
    display: flex;
    align-items: center;
}

.nav {
    display: inline-flex;
    align-content: center;
}

.button-wrapper {
    display: flex;
    align-items: center;
}

.header__button-enter {
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.header__button-enter:hover {
      background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width:750px) {
    .header {
        padding-left: 20px;
    }
}
