.wrap {
    max-width: $wrap-width;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;

}
.proposal {
    padding-right: 12px;
}

.proposal:nth-child(5+1) {
    padding-right: 0px;
}

.open-another-tab {
  width: 100%;
  max-width: $wrap-width;
  height: $button-height;
  font-size: $font-size-base + 2px;
  border-top: 2px solid $light-gray;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  align-items:center;
  a{
    text-decoration: none;
    color: $dark-blue-grey;
  }
}

.best-deals__heading {
  width: 100%;
  max-width: $wrap-width;
  justify-content: center;
  display: flex;
  padding: 20px 0 24px 0px;
}

.proposal__price {
    padding: 20px 0px 4px 0px;
    font-size: $font-size-base + 2px;
    line-height: 1.5;
    font-weight: 600;
    img {
        padding-left: 12px;
    }
}
.proposal__rooms {
    font-size: $font-size-base - 2px;
    color: $dark-gray;
    padding-bottom: 12px;
    font-weight: bold;
  	line-height: 1.33;
}
.proposal__metro {
  font-size: $font-size-base - 2px;
  padding-bottom: 20px;
  font-weight: 600;
  img {
      padding-right: 12px;
  }
}
.red-dot {
  padding-right: 5px;
}

@media screen and (max-width: 390px) {
   .headline {
        font-size: $font-size-base + 2px;
    }
}
