
.wrap-search {
    max-width: $wrap-width;
    margin: 0px auto;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-bottom: 38px;
}

.property-search {
    min-height: 120px;
    color: white;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.select-city {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 340px;
}

.form p {
    padding-bottom:10px;
}

.select-city:after {
    content: '\f0d7';
    font: normal normal normal 17px/1 FontAwesome;
    color: $primary-color;
    right: 11px;
    top: 20px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}

.property-search__title {
    padding-bottom:40px;
}

.title {
    font-size: $font-size-base + 18px;
    font-weight: normal;
    line-height: 38.9px;
    letter-spacing: 0.3px;
}

.select-city select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    max-width: 340px;
    height: $button-height;
    float: right;
    padding: 0px 24px 0px 15px;
    font-size: $font-size-base;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #DFE3E6;
    border-radius: 2px;
    word-break: normal;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

.select-city__title, .select-room__title {
    line-height: 17px;
    padding-bottom: 9px;
    display: block;
    font-weight: bold;
}

.select-room__checkbox {
    display: none;
}

.select-room__checkbox+label {
    height: $button-height + 2px;
    width: $button-height + 2px;
    display: inline-block;
}

.select-room__checkbox:checked+label {
    height: $button-height + 2px;
    width: $button-height + 2px;
    display: inline-block;
}

#property-search__checkbox1+label {
    background: url(../img/1trans.png)no-repeat;
}

#property-search__checkbox1:checked+label {
    background: url(../img/1white.png) no-repeat;
}

#property-search__checkbox2+label {
    ;
    background: url(../img/2trans.png)no-repeat;
}

#property-search__checkbox2:checked+label {
    background: url(../img/2white.png)no-repeat;
}

#property-search__checkbox3+label {
    background: url(../img/3trans.png)no-repeat;
}

#property-search__checkbox3:checked+label {
    background: url(../img/3white.png)no-repeat;
}

#property-search__checkbox4+label {
    background: url(../img/4trans.png)no-repeat;
}

#property-search__checkbox4:checked+label {
    background: url(../img/4white.png)no-repeat;
}

#property-search__checkbox5+label {
    background: url(../img/5trans.png)no-repeat;
}

#property-search__checkbox5:checked+label {
    background: url(../img/5white.png)no-repeat;
}

@media screen and (max-width:750px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .property-search {
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .select-city {
        width: 300px;
    }
}
