<header class="header">
					<div class="wrap-header">
							<div class="left-menu">
									<div class="header__logo">
											<img src="logo.svg" />
									</div>
									<div class="left-menu-nav">
											<nav>
													<a class="nav__item" href="#">Аренда</a>
													<a class="nav__item" href="#">Продажа</a>
													<a class="nav__item" href="#">Посуточно</a>
													<a class="nav__item" href="#">&bull;&bull;&bull; Еще</a>
													<!-- Добавить троеточие -->
											</nav>
									</div>
							</div>
							<div class="right-menu">
									<div class="right">
											<button class="button button-header"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Разместить объявление</button>
											<button class="button header__button-enter"  href="#">Войти</<button>
									</div>
							</div>
					</div>
			</header>
