<header class="header">
	<div class="wrap-header">
		<div class="left-menu">
			<div class="logo">
				<img src="img/logo.svg" />
			</div>
			<nav class="nav">
				<a class="nav__item" href="#">Аренда</a>
				<a class="nav__item" href="#">Продажа</a>
				<a class="nav__item" href="#">Посуточно</a>
				<a class="nav__item" href="#">&bull;&bull;&bull; Еще</a>
			</nav>
		</div>
		<div class="right-menu">
			<div class="button-wrapper">
				<button class="button button-header"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Разместить объявление</button>
				<button class="button header__button-enter"  href="#">Войти</<button>
			</div>
		</div>
	</div>
</header>
