<header class="header">
	<div class="wrap">
		<div class="header__logo">
			<img src="img/logo.png" alt="logo">
		</div>
		<nav class="nav">
			<a class="nav__item" href="#">Аренда</a>
			<a class="nav__item" href="#">Продажа</a>
			<a class="nav__item" href="#">Посуточно</a>
			<a class="nav__item"  href="#">Еще</a> <!-- Добавить троеточие -->
		</nav>
		<div>
			<a class="header__button-new-ad"  href="#">Разместить объявление</a>
		</div>
		<div>
			<a class="header__button-enter"  href="#">Войти</a>
		</div>
	</div>
</header>
