<div class="telegram-communication">
    <div class="wrap wrap__tel-com">
        <h1 class="heading">Общайтесь в Telegram</h1>
        <p class="description description__tel-com">Не отвлекайтесь больше на формальности. Получайте моментальные уведомления о новых обьявлениях, общайтесь без ограничений.</p>
        <div class="metrovka-bot">
            <!-- <div class="bot-choice">
                <div class="bot-choice__item">
                    <input type="radio" value="TGserach1" name="radio7" class="search-estate__radio" id="search-estate__radio7" checked="">
                    <label for="search-estate__radio7">Поиск недвижимости</label>
                </div>
                <div class="bot-choice__item">
                    <input type="radio" value="TGspeak8" name="radio8" class="search-estate__radio" id="search-estate__radio8" checked=""><label for="search-estate__radio8">Общение с клиентами</label>
                </div>
            </div> -->
            <div class="metrovka-bot__picture">
                <img src="img/tg_iphone5s.jpg" alt="Telegram on Iphone 5S">
            </div>
            <div class="metrovka-bot__telegram">
                <div class="telegram__heading">
                    <img class="tg_logo" src="img/tg_logo.png" alt="Telegram Logo">
                    <h1 class="headline">Telegram</h1>
                </div>
                <h1 class="headline">Metrovka Bot</h1>
                <ul  class="ul">
                    <ol>Собирайте аналитику по объектам</ol>
                    <ol>Получайте подсказки по эффективному продвижению объявлений</ol>
                    <ol>Общайтесь с клиентами через специальный канал телекоммуникации</ol>
                </ul>
                <a  class="button button--w320" href="#">Присоедениться в Телеграмм</a>
                <!-- Два кружка -->
            </div>
        </div>
    </div>
</div>
