<div class="property-metro">
        <div class="wrap">
        <div class="flex-container">
            <h3 class="headline">Недвижимость возле метро</h3>
            <div class="property-metro__estate">
                    <div class="search-estate_list__item">
                        <input type='radio' value='Flats' name='radio' class='search-estate__radio' id="search-estate__radio1" checked/>
                        <label for="search-estate__radio1">Квартиры</label>
                    </div>
                    <div class="search-estate_list__item">
                        <input type='radio' value='Houses' name='radio' class='search-estate__radio'
                        id="search-estate__radio2"/>
                        <label for="search-estate__radio2">Дома</label>
                    </div>
                    <div class="search-estate_list__item">
                        <input type='radio' value='Offices' name='radio' class='search-estate__radio'
                               id="search-estate__radio3"/>
                        <label for="search-estate__radio3">Офисы</label>
                    </div>
            </div>
            <div class="property-metro__station">
                <select name="Metro station">
                    <option class="search-estate__option" value="Polytechnical">Политехнический институт</option><!--Добавить красную точечку-->
                    <option class="search-estate__option" value="Maidan">Майдан Независимости</option>
                    <option class="search-estate__option" value="Olympiyska">Олимпийская</option>
                </select>
                <br>
                <button class="button button--w320" type="button">Показать результаты поиска</button>
            </div>
        </div>
        <div class="metro-img-container">
            <img class="metro-img" src="img/metro.png">
        </div>
    </div>
    </div>
