<div class="telegram-communication">
    <div class="wrap">
        <h1 class="heading">Общайтесь в Telegram</h1>
        <p>Не отвлекайтесь больше на формальности. Получайте моментальные уведомления о новых обьявлениях, общайтесь без ограничений.</p>
        <div class="metrovka-bot">
            <div class="metrovka-bot__choice">
                <a class="choice__bot-search"href="#">Поиск недвижимости</a>
                <a class="choice__bot-speak"href="#">Общение с клиентами</a>
            </div>
            <div class="metrovka-bot__picture">
                <img src="" alt="Telegram on Iphone 5S">
            </div>
            <div class="metrovka-bot__telegram">
                <div class="telegram__heading">
                    <img src="" alt="Telegram Logo">
                    <h1 class"headline">Telegram</h1>
                </div>
                <h1 class="headline">Metrovka Bot</h1>
                <ul>
                    <ol>Собирайте аналитику по объектам</ol>
                    <ol>Получайте подсказки по эффективному продвижению объявлений</ol>
                    <ol>Общайтесь с клиентами через специальный канал телекоммуникации</ol>
                </ul>
                <a  class="button button--w320"href="#">Присоедениться в Телеграмм</a>
                <!-- Два кружка -->
            </div>
        </div>
    </div>
</div>
