<div class="latest-ads">
    <div class="wrap">
        <h1 class="headline">Последние обьявления в Киеве</h1>
        <div class="latest-ads__estate">
            <a href="#">Квартиры</a>
            <a href="#">Дома</a>
            <a href="#">Офисы</a>
        </div>
        <div class=“latest-proposal”>
            <a href=“#”><img src=“#” alt=“estate image”></a>
            <!--Задать размеры -->
            <p class=“latest-proposal__price”>11800 грн</p>
            <img src=“#” class=“latest-ads__tick”>
            <p class=“latest-proposal__rooms”>2 комн.</p>
            <!--Добавить точечку-->
            <p class=“latest-proposal__area”>48 кв.м.</p>
            <p class=“latest-proposal__metro”>Политехнический институт</p>
            <!--Добавить красную точечку-->
        </div>
        <div class=“latest-proposal”>
            <a href=“#”><img src=“#” alt=“estate image”></a>
            <!--Задать размеры -->
            <p class=“latest-proposal__price”>15000 грн</p>
            <img src=“#” class=“latest-ads__tick”>
            <p class=“latest-proposal__rooms”>3 комн.</p>
            <!--Добавить точечку-->
            <p class=“latest-proposal__area”>100 кв.м.</p>
            <p class=“latest-proposal__metro”>Шулявская</p>
            <!--Добавить красную точечку-->
        </div>
        <div class=“latest-proposal”>
            <a href=“#”><img src=“#” alt=“estate image”></a>
            <!--Задать размеры -->
            <p class=“latest-proposal__price”>11800 грн</p>
            <img src=“#” class=“latest-ads__tick”>
            <p class=“latest-proposal__rooms”>1 комн.</p>
            <!--Добавить точечку-->
            <p class=“latest-proposal__area”>30 кв.м.</p>
            <p class=“latest-proposal__metro”>Контрактовая площадь</p>
            <!--Добавить синюю точечку-->
        </div>
        <div class=“latest-proposal”>
            <a href=“#”><img src=“#” alt=“estate image”></a>
            <!--Задать размеры -->
            <p class=“latest-proposal__price”>7000 грн</p>
            <img src=“#” class=“latest-ads__tick”>
            <p class=“latest-proposal__rooms”>2 комн.</p>
            <!--Добавить точечку-->
            <p class=“latest-proposal__area”>40 кв.м.</p>
            <p class=“latest-proposal__metro”>просп.Победы, 18А</p>
        </div>
        <div class=“open-another-tab”>
            <a href=“#”>Смотреть самые свежие объявления</a>
        </div>
    </div>
</div>
