<div class="property-search">
    <div class="wrap-search">
        <div class="property-search__headline">
            <h1 class="headline">Поиск недвижимости в Украине</h1>
        </div>
        <div class="form">
            <div class="property-search__select-city">
                <p>Выберите город:</p>
                <select name="City">
                  <option class="select-city__option" value="Kyiv">Киев</option>
                  <option class="select-city__option" value="Lviv">Львов</option>
                  <option class="select-city__option" value="Odessa">Одесса</option>
                </select>
            </div>
            <div class="property-search__select-room">
                <p>Количество комнат:</p>
                <input class="select-room__checkbox" type="checkbox" name="rooms" value="1" id="property-search__checkbox1"><label for="property-search__checkbox1"></label>
                <input class="select-room__checkbox" type="checkbox" name="rooms" value="2" id="property-search__checkbox2"><label for="property-search__checkbox2"></label>
                <input class="select-room__checkbox" type="checkbox" name="rooms" value="3" id="property-search__checkbox3"><label for="property-search__checkbox3"></label>
                <input class="select-room__checkbox" type="checkbox" name="rooms" value="4" id="property-search__checkbox4"><label for="property-search__checkbox4"></label>
                <input class="select-room__checkbox" type="checkbox" name="rooms" value="5" id="property-search__checkbox5"><label for="property-search__checkbox5"></label>
            </div>
            <div class="property-search__button-submit">
                <br>
                <button class="button button--w201" type="submit">Перейти к поиску</button>
            </div>
            </div>
    </div>
</div>
