<div class="best-deals">

    <div class="wrap">
        <!-- <h3 class="headline">Лучшие предложения в Киеве</h3> -->
        <div class="heading">
            <p class="best-deals__headline">Лучшие предложения в Киеве</p>
        </div>
        <div class="proposal">
            <a href="#"><img src="img/room.jpg" alt="estate"></a>
            <!--Задать размеры -->
            <p class="proposal__price">7800 грн <img src="img/tick.svg" class="best-deals__tick"> </p>

            <p class="proposal__rooms">2 комн.&bull; 30 кв.м.</p>
            <p class="proposal__metro"><img class="red-dot" src="img/reddot.svg">Политехнический институт</p>
            <!--Добавить красную точечку-->
        </div>
        <div class="proposal">
            <a href="#"><img src="img/room.jpg" alt="estate"></a>
            <!--Задать размеры -->
            <p class=“proposal__price”>10200 грн <img src="img/tick.svg" class="best-deals__tick"></p>
            <p class="proposal__rooms">2 комн.&bull; 30 кв.м.</p>
            <p class="proposal__metro"><img class="red-dot" src="img/reddot.svg">Политехнический институт</p>
            <!--Добавить красную точечку-->
        </div>
        <div class="proposal">
            <a href="#"><img src="room.jpg" alt="estate"></a>
            <!--Задать размеры -->
            <p class="proposal__price">6900 грн <img src="img/tick.svg" class="best-deals__tick"></p>
            <p class="proposal__rooms">2 комн.&bull; 30 кв.м.</p>
            <p class="proposal__metro"><img class="red-dot" src="img/reddot.svg">Политехнический институт</p>
            <!--Добавить красную точечку-->
            <!--Добавить красную точечку-->
        </div>
        <div class="proposal">
            <a href="#"><img src="img/room.jpg" alt="estate"></a>
            <!--Задать размеры -->
            <p class="proposal__price">9000 грн <img src="img/tick.svg" class="best-deals__tick"></p>
            <p class="proposal__rooms">2 комн.&bull; 30 кв.м.</p>
            <p class="proposal__metro"><img class="red-dot" src="img/reddot.svg">Политехнический институт</p>
            <!--Добавить красную точечку-->
            <!--Добавить красную точечку-->
        </div>
        <div class="open-another-tab">
            <a href="#">Смотреть лучшие ценовые предложения</a>
        </div>
    </div>

</div>
