<div class="property-metro">
    <div class="wrap">
        <div class="property-metro__search-estate">
            <h1 class="headline">Недвижимость возле метро</h1>
            <form class="property-metro__form">
                <ul class="search-estate_list">
                    <li class="search-estate_list__item">
                        <input type='radio' value='Flats' name='radio' class='search-estate__radio' />
                        <label class="search-estate__label">Квартиры</label>
                    </li>
                    <li class="search-estate_list__item">
                        <input type='radio' value='Houses' name='radio' class='search-estate__radio' />
                        <label class="search-estate__label">Дома</label>
                    </li>
                    <li class="search-estate_list__item">
                        <input type='radio' value='Offices' name='radio' class='search-estate__radio' />
                        <label class="search-estate__label">Офисы</label>
                    </li>
                </ul>
                <select name="Metro station">
                    <option class="search-estate__option" value="Polytechnical">Политехнический институт</option><!--Добавить красную точечку-->
                    <option class="search-estate__option" value="Maidan">Майдан Независимости</option>
                    <option class="search-estate__option" value="Olympiyska">Олимпийская</option>
                </select>
                <button class="button button--w320" type="submit">Показать результаты поиска</button>
            </form>
        </div>
        <div class="property-metro__station-image">
            <img src="img/metro.png" alt="metro image">
        </div>
    </div>
</div>
