<div class="latest-ads">
        <div class="wrap">
            <div class="heading">
                <h1 class="latest-ads__headline">Последние обьявления в Киеве</h1>
            </div>
          <div class="latest-ads__estate">
                <div class="latest-ads_list__item">
                    <input type='radio' value='Flats' name='radio' class='latest-ads__radio' id="latest-ads__radio4" checked/>
                    <label for="latest-ads__radio4">Квартиры</label>
                </div>
                <div class="latest-ads_list__item">
                    <input type='radio' value='Houses' name='radio' class='latest-ads__radio' id="latest-ads__radio5" />
                    <label for="latest-ads__radio5">Дома</label>
                </div>
                <div class="latest-ads_list__item">
                    <input type='radio' value='Offices' name='radio' class='latest-ads__radio' id="latest-ads__radio6" />
                    <label for="latest-ads__radio6">Офисы</label>
                </div>
            </div>
            <div class="latest-proposal">
                <a href="#"><img src="img/room1.png" alt="estate image"></a>
                <!--Задать размеры -->
                <p class="latest-proposal__price">11800 грн <img src="img/tick.svg" class="best-deals__tick"></p>
                <p class="latest-proposal__rooms">2 комн.&bull;48 кв.м.</p>
                <p class="latest-proposal__metro"><img class="red-dot" src="img/reddot.svg">Политехнический институт</p>
                <!--Добавить красную точечку-->
            </div>
            <div class="latest-proposal">
                <a href="#"><img src="img/room2.png" alt="estate image"></a>
                <!--Задать размеры -->
                <p class="latest-proposal__price">15000 грн <img src="img/tick.svg" class="best-deals__tick"></p>
                <p class="latest-proposal__rooms">3 комн.&bull;100 кв.м.</p>
                <p class="latest-proposal__metro"><img class="red-dot" src="img/reddot.svg">Шулявская</p>
                <!--Добавить красную точечку-->
            </div>
            <div class="latest-proposal">
                <a href="#"><img src="img/room3.png" alt="estate image"></a>
                <!--Задать размеры -->
                <p class="latest-proposal__price">11800 грн <img src="img/tick.svg" class="best-deals__tick"></p>
                <p class="latest-proposal__rooms">1 комн.&bull;30 кв.м.</p>
                <p class="latest-proposal__metro"><img class="blue-dot" src="img/bluedot.png">Контрактовая площадь</p>
                <!--Добавить синюю точечку-->
            </div>
            <div class="latest-proposal">
                <a href="#"><img src="img/room4.png" alt="estate image"></a>
                <!--Задать размеры -->
                <p class="latest-proposal__price">7000 грн <img src="img/tick.svg" class="best-deals__tick"></p>

                <p class="latest-proposal__rooms">2 комн.&bull;40 кв.м.</p>
                <p class="latest-proposal__metro">просп.Победы, 18А</p>
            </div>
            <div class="open-another-tab">
                <a href="#">Смотреть самые свежие объявления</a>
            </div>
        </div>
      </div>
