<div class="property-search">
    <div class="wrap">
        <div class="property-search__headline">
            <h1 class="headline">Поиск недвижимости в Украине</h1>
        </div>
        <form class="property-search__form">
            <div class="property-search__select-city">
                <p>Выберите город:</p>
                <select name="City">
  <option class="select-city__option" value="Kyiv">Киев</option>
  <option class="select-city__option" value="Lviv">Львов</option>
  <option class="select-city__option" value="Odessa">Одесса</option>
  </select>
            </div>
            <div class="property-search__select-room">
                <p>Количество комнат:</p>
                <input class="select-room__checkbox" type="checkbox" name="rooms" value="1">1
                <input class="select-room__checkbox" type="checkbox" name="rooms" value="2">2
                <input class="select-room__checkbox" type="checkbox" name="rooms" value="3">3
                <input class="select-room__checkbox" type="checkbox" name="rooms" value="4">4
                <input class="select-room__checkbox" type="checkbox" name="rooms" value="5">5+
            </div>
            <div class="property-search__button-submit">
                <button class="button button--w201" type="submit">Перейти к поиску</button>
            </div>
        </form>
    </div>
</div>
