<div class="best-deals">
    <div class="wrap">
        <h1 class="headline">Лучшие предложения в Киеве</h1>
        <div class=“proposal”>
            <a href=“#”><img src=“#” alt=“estate image”></a>
            <!--Задать размеры -->
            <p class=“proposal__price”>7800 грн</p>
            <img src=“#” class=“best-deals__tick”>
            <p class=“proposal__rooms”>2 комн.</p>
            <!--Добавить точечку-->
            <p class=“proposal__area”>30 кв.м.</p>
            <p class=“proposal__metro”>Политехнический институт</p>
            <!--Добавить красную точечку-->
        </div>
        <div class=“proposal”>
            <a href=“#”><img src=“#” alt=“estate image”></a>
            <!--Задать размеры -->
            <p class=“proposal__price”>10200 грн</p>
            <img src=“#” class=“best-deals__tick”>
            <p class=“proposal__rooms”>1 комн.</p>
            <!--Добавить точечку-->
            <p class=“proposal__area”>30 кв.м.</p>
            <p class=“proposal__metro”>Политехнический институт</p>
            <!--Добавить красную точечку-->
        </div>
        <div class=“proposal”>
            <a href=“#”><img src=“#” alt=“estate image”></a>
            <!--Задать размеры -->
            <p class=“proposal__price”>6900 грн</p>
            <img src=“#” class=“best-deals__tick”>
            <p class=“proposal__rooms”>2 комн.</p>
            <!--Добавить точечку-->
            <p class=“proposal__area”>30 кв.м.</p>
            <p class=“proposal__metro”>Политехнический институт</p>
            <!--Добавить красную точечку-->
        </div>
        <div class=“proposal”>
            <a href=“#”><img src=“#” alt=“estate image”></a>
            <!--Задать размеры -->
            <p class=“proposal__price”>9000 грн</p>
            <img src=“#” class=“best-deals__tick”>
            <p class=“proposal__rooms”>2 комн.</p>
            <!--Добавить точечку-->
            <p class=“proposal__area”>30 кв.м.</p>
            <p class=“proposal__metro”>Политехнический институт</p>
            <!--Добавить красную точечку-->
        </div>

        <div class=“open-another-tab”>
            <a href=“#”>Смотреть лучшие ценовые предложения</a>
        </div>
    </div>
</div>
