<div class="telegram-communication">
        <div class="wrap__tel-com">
            <div class="tel-com__heading">
                <h1>Общайтесь в Telegram</h1>
                <p class="heading-text">Не отвлекайтесь больше на формальности. Получайте моментальные уведомления о новых обьявлениях, общайтесь без ограничений.</p>
            </div>
            <div class="telegram__estate">
            <div class="telegram_list__item">
                <input type='radio' value='Flats' name='radio' class='telegram__radio' id="telegram__radio1" checked/>
                <label for="telegram__radio1">Поиск недвижимости</label>
            </div>
            <div class="telegram_list__item">
                <input type='radio' value='Houses' name='radio' class='telegram__radio' id="telegram__radio2" />
                <label for="telegram__radio2">Общение с клиентами</label>
            </div>
            </div>
        <div class="metrovka-bot">
            <div class="metrovka-bot__picture">
                <img class="iphone" src="img/iphone.png" alt="Telegram on Iphone 5S">
            </div>
            <div class="metrovka-bot__telegram">
                <div class="telegram__heading">
                    <img class="tg_logo" src="img/tg_logo.png" alt="Telegram Logo">
                    <h1 class="headline">Telegram</h1>
                </div>
                <div class="content">
                    <h1 class="telegram_headline">Metrovka Bot</h1>
                    <div class="list">
                        <ol class="ol-list">
                            <li>Собирайте аналитику по объектам</li>
                            <li>Получайте подсказки по эффективному продвижению объявлений</li>
                            <li>Общайтесь с клиентами через специальный канал телекоммуникации</li>
                        </ol>
                    </div>
                    <button class="button button--w320" href="#">Присоедениться в Телеграмм</button>
                </div>

            </div>
        </div>
    </div>
    </div>
