$dark-blue-grey: #152935;
$white: #ffffff;
$light-gray: #D8D8D8;
$primary-color:#30AE63;
$dark-gray:#8C9BA5;

$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 14px;
$font-color-base: $dark-blue-grey;

$font-color-header: $dark-blue-grey;
$font-color-button: $white;

$wrap-width:890px;
$button-height:40px;
