$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 14px;
$font-color-base: $dark-blue-grey;

$font-color-header: $dark-blue-grey;
$font-color-button: $white;

$dark-blue-grey: #152935;
$white: #ffffff;
